name: run main.py

on:
  schedule:
    - cron: '*/10 * * * *' 

concurrency:
  group: ${{ github.workflow }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Get all history

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: execute py script # run main.py
        env:
          SOME_SECRET: ${{ secrets.SOME_SECRET }}
        run: python main.py
          
      - name: commit and push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull origin main  # Pull latest changes
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          git push origin main
